<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<p>Ajouter un film</p>
<p>Titre <input type="texte" ng-model="TitreNouveauFilm" />
   Commentaire <input type="texte" ng-model="CommentaireNouveauFilm" />
  <a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()">ajouter<span class="glyphicon glyphicon-ok"></span></a>
</p>

<p>Afficher
  <input type="number" ng-model="nbAffiche" />  <!-- permet de définir le nb d'élément à afficher-->
  elements dans la liste
</p>

<p>Afficher / masquer la liste: 
  <!-- case a cocher pour afficher / masquer-->
  <input type="checkbox" ng-model="active"/> 
</p>



<div ng-show="active" class"description">
  <ul>

    <li ng-repeat="film in MovieDB.getListeFilms() | limitTo :nbAffiche :debut track by $index">
       <a ng-href="#/film/{{film.id}}">{{film.title}}</a>

       <img ng-src="{{film.poster_path | urlPoster}}" alt="posterFct" />

       <a ng-click="suprElement(film)"> <span class="glyphicon glyphicon-remove"> </a>

       

       <a ng-click="addFavorite(film.id)" ng-show="!isFavorite(film.id)"> <span class="glyphicon glyphicon-star"> </a>
{{film.id}}
       <a ng-click="removeFavorite(film.id)" ng-show="isFavorite(film.id)"> <span class="glyphicon glyphicon-star-empty"> </a>



    </li>  <!-- limiter les elements limiTo-->

  </ul>
</div>
<!------------------------------->

<p> 
  précédent: <button class="btn btn-primary" ng-click="debut=debut-10">-10</button>
  suivant:  <button class="btn btn-primary" ng-click="debut=debut+10">+10</button>
</p>




